#food {
    visibility: hidden;
    height: 20px;
    width: 20px;
    background-color: red;
}

#snake {
    visibility: hidden;
    height: 20px;
    width: 20px;
    background-color: yellow;
}

.container {
    margin: 50px auto;
}

.panel-title {
    text-align: center;
}

#game-area {
   height: 300px;
   margin: 0;
}

.score-wrapper {
    display: none;
    float: right;
}
.nav{
    overflow: auto;
}
.buttons{
    float:left;
}
.panel-title {
    font-size: 20px;
    font-weight: bold;
}
.info {
    float: right;
}